<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.rs.test.prototype.mail.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.rs.test.prototype.mail.Perspective"
            id="de.rs.test.prototype.mail.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
  <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="de.rs.test.prototype.mail.View"
            id="de.rs.test.prototype.mail.view">
      </view>
      <view
      		name="PersonenView"
            allowMultiple="true"
            icon="icons/user.png"
            class="de.rs.test.prototype.mail.PersonenView"
            id="de.rs.test.prototype.mail.personenview"
            
            >
      </view>
      <view
            allowMultiple="true"
            class="de.rs.test.prototype.mail.NavigationView"
            icon="icons/sample3.gif"
            id="de.rs.test.prototype.mail.navigationView"
            name="Navigationsicht">
           
      </view>
      <view
            allowMultiple="true"
            class="de.rs.test.prototype.mail.RowsView"
            icon="icons/gameboard.gif"
            id="de.rs.test.prototype.mail.RowsView"
            name="Datenbestand"
            relationship="top"
            relative="org.eclipse.ui.editorss"
            standalone="true"
            restorable="true">
             
      </view>
      <view
            allowMultiple="true"
            class="de.rs.test.prototype.mail.SearchView"
            icon="icons/sample3.gif"
            id="de.rs.test.prototype.mail.SearchView"
            name="Suchensicht"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="de.rs.test.prototype.mail.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="de.rs.test.prototype.mail.category"
            id="de.rs.test.prototype.mail.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="de.rs.test.prototype.mail.category"
            id="de.rs.test.prototype.mail.openMessage">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.CallEditor"
            id="de.vogella.rcp.editor.example.openEditor"
            name="CallEditor">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.PersonEditorHandler"
            id="de.vogella.rcp.editor.example.handler.PersonEditorHandler"
            name="PersonenEditorHandler">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.BestatterAuftragHandler"
            id="de.rs.rcp.editor.BestatterAuftragHandler"
            name="BestatterAuftragHandler">
      </command>
      <command
            defaultHandler="de.rs.prototype.firdaous.handler.DataLoaderHandler"
            id="de.rs.prototype.firdaous.handler.openDatarows"
            name="Datenbestand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.rs.test.prototype.mail.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="de.rs.test.prototype.mail.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product application="de.rs.test.prototype.mail.product1"
            name="firdaous">
         <property
               name="appName"
               value="firdaous">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.rs.prototype.firdaous.editor.DeceaseEditor"
            default="false"
            id="de.vogella.rcp.editor.example.editor.deceaseeditor"
            name="SterbeFormular"
            >
            
  
      </editor>
      <editor
            class="de.rs.prototype.firdaous.editor.PersonEditor"
            default="false"
            icon="icons/users.ico"
            id="de.rs.test.prototype.mail.personeditor"
            name="PersonEditor">
      </editor>
      <editor
            class="de.rs.prototype.firdaous.editor.WorkOrderEditor"
            default="false"
            icon="icons/attachment_48_48.ico"
            id="de.vogella.rcp.editor.example.workorder"
            name="WorkOrderEditor">
      </editor>
      <editor
            class="de.rs.prototype.firdaous.editor.BestatterAuftragEditor"
            default="false"
            icon="icons/BestatterAuftrag.ico"
            id="de.rs.rcp.editor.BestatterAuftragEditor"
            name="BestatterAuftragEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="project_firdaous_extens">
         <view
               id="de.rs.test.prototype.mail.personenview"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="de.rs.test.prototype.mail.menuContribution1">
      </menuContribution>
   </extension>

</plugin>
