<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?><target name="testing" sequenceNumber="0">
<locations>
<location path="C:\Users\RSahili.GOC\Downloads\eclipse-SDK-3.7.1-win32\eclipse\plugins" type="Directory"/>
</locations>
</target>
